*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header_picture{
    background: url("../img/fon.jpg") no-repeat center center / cover;
    height: 1111px;
}

